<!DOCTYPE html>
<html>
  <head>  
    <title>Mycareer</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 360px;
      }
    </style>
    
  </head>
  <body>  
    {% include 'nav.html' %}
    <div class="container">
      
      <h1 class = "text-center mt-2 mb-4">MyCareer</h1>
      <img class= "img-fluid" id = "banner"  src="https://9104379a-16f5-48e3-a229-aa693110170e-00-3ep9a72r3q8ig.sisko.replit.dev/static/banner.jpg" >
      <h2  class= "text-center mt-2 mb-4">About Mycareer</h2>
      <p class = "lead"> We believe that finding the right career should be simple, transparent, and empowering. Our platform connects job seekers with opportunities that match their skills, aspirations, and         passions, while helping companies discover the talent they need to grow.
  
          At CareerPath, we go beyond just job listings. We provide resources to help you prepare, learn, and succeed – from resume tips to interview guidance, and skill-building         opportunities.Whether you’re starting your journey, switching paths, or aiming higher, we’re here to support every step of your career.
  
        Our mission is clear: to bridge the gap between talent and opportunity.
  
        Join us today and take your next step toward success. </p> 
      
      <h2 class= "text-center mt-2 mb-4">Open Posistions</h2>
        
        <div>
          {%for job in jobs %}
          {%include 'jobitem.html'%}
          {%endfor%}
        </div>
          <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>
            <p>Copyright 2025, Adyant</p>    
          </div>
    </div>
  </body>
</html>